version: '3.8'

services:
  # Сервіс 1: Laravel
  laravel:
    build: ./laravel_app
    container_name: laravel_container
    ports:
      - "8081:8000" # Доступ зовні через порт 8081
    volumes:
      - ./laravel_app:/var/www/html
    networks:
      - app_network

  nest:
    build: ./nest_app
    container_name: nest_container
    ports:
      - "8082:3000"
    volumes:
      - ./nest_app:/usr/src/app
    networks:
      - app_network
    command: sh -c "npm install && npm run start:dev"

  # Сервіс 3: FastAPI
  fastapi:
    build: ./fastapi_app
    container_name: fastapi_container
    ports:
      - "8083:8000" # Доступ зовні через порт 8083
    networks:
      - app_network

  # Nginx (Зворотний проксі)
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8000:80" # Єдина точка входу
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel
      - nest
      - fastapi
    networks:
      - app_network

networks:
  app_network:
    driver: bridge