
laravel_app/vendor/
laravel_app/.env
nest_app/node_modules/
nest_app/dist/
nest_app/temp/
fastapi_app/__pycache__/
fastapi_app/.venv/


node_modules/
dist/
build/
vendor/


*.log
npm-debug.log*
yarn-error.log*


.DS_Store
.vscode/
.idea/
*.sublime-workspace


.env
.env.local


.temp/
.tmp/